<h1>VoiceOver</h1>
<p>VoiceOver est une application web permettant de traduire un média audiovisuel ou sonore (vidéo ou son) en français et de le lire, comme le doublage cinématographique, mais sans l'image. </p>

<h2>Comment ça fonctionne ? </h2>
<p>Cela se déroule en 4 grandes étapes :</p>
<ol>
    <li>Choix de la source : 
        <ul>
            <li>Choix d'un fichier audio sous format wav</li>
        </ul>
    </li>
    <li>Transcription : nous utilisons plusieurs algorithmes de Speech-to-Text (STT) pour retranscrire au mieux l'audio</li>
    <li>Traduction : nous traduisons textuellement la transcription émise si ce texte n'est pas en anglais. </li>
    <li>Lecture : nous faisons lire cette traduction grâce à notre Text-to-Speech (TTS) : 
        <ul>
            <li>Par une voix par défaut</li>
        </ul>
    </li>
</ol>

<a routerLink="/upload" class="cta main-cta">C'est parti ! </a>