<h1>VoiceOver</h1>
<p>VoiceOver est une application web permettant de transcrire un audio anglais et de l'écouter avec une autre voix. </p>

<h2>Comment ça fonctionne ? </h2>
<p>Cela se déroule en 3 grandes étapes :</p>

<ol>
    <li>Je choisis ma source : un fichier audio (.wav) en anglais uniquement</li>
    <li>Je transcris cet audio : plusieurs algorithmes vont s'en charger</li>
    <li>J'écoute la transcription générée : un homme ou une femme, c'est vous qui choisissez !</li>
</ol>

<a routerLink="/voiceover" class="cta main-cta">C'est parti ! </a>