.card{
  background-color: var(--light-blue-600);
  color: var(--light-blue); 

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 2px 2px 24px #0a0a0a52;
  border-radius: 16px;

  font-size: 1.4em;
  font-family: var(--button-fontfam);

  padding: 48px 32px;
  margin: 16px; 

  text-align: center;
}

.card * {
  margin: 12px;
}

.card:hover{
  box-shadow: 0 0  8px var(--light-blue-600);
  background-color: var(--dark-blue);
}