<h2>Enregistrer votre voix</h2>
<p>Appuyez sur le bouton pour commencer l’enregistrement</p>

<div class="record-container">
    <button class="record">
        <ng-icon name="AkarMicrophone" size="12em"></ng-icon>
    </button>

    <p>
        Assurez vous de vous trouver dans un <br>
        environnement calme et de parler suffisamment fort.
    </p>
    <!-- <button class="play">
        <ng-icon name="AkarPlay" size="12em"></ng-icon>
    </button>

    <button class="stop">
        <ng-icon name="AkarSquare" size="12em"></ng-icon>
    </button> -->
</div>