.record-container{
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 96px 0 0 0;
}

.record-container button{
    border-radius: 100%;
    border: transparent;
    text-align: center;
    margin: 0 0 24px;
}

button.record{
    padding: 48px;
    background-color: var(--light-blue);
    color: var(--light-grey);
}

button.play{
    padding: 48px 40px 40px 48px;
    background-color: var(--light-grey);
    color: var(--dark-red);
}

button.stop{
    padding: 48px 48px 40px;
    background-color: var(--light-grey);
    color: var(--dark-red);
}