<h2>Choisir un fichier audio depuis mon appareil</h2>
<p>Les fichiers acceptés sont des audios en ANGLAIS sous format WAV uniquement. </p>

<div class="step step-one">
    <div>
        <div class="input-file">
            <label for="audio" class="file-upload">
                {{name}}
            </label>
            <input 
            #inputAudio 
            type="file" 
            name="audio" 
            id="audio"
            placeholder="Select audio file" 
            (change)="initFile($event)"
            accept=".wav">
            
        </div>
        
        <audio *ngIf="name.includes('.wav')" #inputAudioPlayer controls src="./"></audio>
    </div>

    <button 
        *ngIf="name.includes('.wav')"
        class="cta main-cta"
        type="button" 
        (click)="callApiSTTAll(inputAudio.files)">
        Transcrire cet audio
    </button> 
</div>

<div class="step step-two" *ngIf="transcription">
    <h2>Transcription de l'audio</h2>
    <p>{{transcription}}</p>
</div>

<div class="step step-three" *ngIf="transcription">
    <h2>Ecouter la transcription</h2>
    <audio #outputAudioPlayer controls src="./"></audio>
</div>

