input[type="file"] {
    display: none;
}

.file-upload {
    border: 1px solid var(--light-blue);
    display: inline-block;
    padding: 24px 12px;
    cursor: pointer;
    width: 100%; 
    text-align: center;
    font-size: normal;
    font-family: var(--family-button);
    border-radius: 16px;
    background-color: var(--light-blue-600);
}

.step {
    margin: 48px 0; 
}

.step-one > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-file {
    flex-grow: 2;
}

.step-one audio {
    margin: 0 0 0 96px;
    flex: 2; 
}

.step-three > audio {
    width: 100%;
    margin: 12px 0;
}

table{
    font-family: var(--family-body);
    border-collapse: collapse;
    width: 100%;
}

tr:hover{
  background-color: var(--light-blue-600);
}
  
td{
  text-align: center;
  margin: 0;
  padding: 0;
  width: calc(100% / 7);
}

th{
  box-shadow: 0 2px 0px 0 var(--light-blue);
  background-color: var(--light-blue-600);
  color: var(--light-blue);
  padding: 1em;
}

td{
    padding: 1em;
}

tr > td > span{
  padding: 0.25em 0.7em;
  border-radius: 4px;
}

tr > td:first-child{
  width: calc(300% / 7); 
}

.top-1{
  background-color: var(--success);
}

.top-2{
  background-color: var(--warning);
  color: var(--black);
}

.top-3{
  background-color: var(--error);
}