input[type="file"] {
    display: none;
}

.file-upload {
    border: 1px solid var(--light-blue);
    display: inline-block;
    padding: 24px 12px;
    cursor: pointer;
    width: 100%; 
    text-align: center;
    font-size: normal;
    font-family: var(--family-button);
    border-radius: 16px;
    background-color: var(--light-blue-600);
}

.step {
    margin: 48px 0; 
}

.step-one > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-file {
    flex-grow: 2;
}

.step-one audio {
    margin: 0 0 0 96px;
    flex: 2; 
}

.step-three > audio {
    width: 100%;
    margin: 12px 0;
}

table{
    font-family: var(--family-body);
}

tr{
    text-align: center;
}
tr:nth-child(even){
    background: var(--light-blue-600);
}
th{
    background: var(--light-blue);
    color: var(--black);
    padding: 0.5em 1em;
    margin: 0;
}
td{
    padding: 0.5em;
}
.load-container{
    width: 100%;
    margin: 96px 0;
}
.load {
  height: 75px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.wave {
  width: 5px;
  height: 75px;
  background: linear-gradient(45deg, var(--light-blue), var(--light-blue-600));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}