<h2>Choisir un fichier audio depuis mon appareil</h2>
<p>Les fichiers acceptés sont des audios en ANGLAIS sous format WAV uniquement. </p>

<div class="step step-one">
    <div>
        <div class="input-file">
            <label for="audio" class="file-upload">
                {{name}}
            </label>
            <input 
            #inputAudio 
            type="file" 
            name="audio" 
            id="audio"
            placeholder="Select audio file" 
            (change)="initFile($event)"
            accept=".wav">
        </div>
        
        <audio *ngIf="name.includes('.wav')" #inputAudioPlayer controls src="./"></audio>
    </div>

    <button 
        *ngIf="name.includes('.wav') && !load"
        class="cta main-cta"
        type="button" 
        (click)="callApiSTTAll(inputAudio.files)">
        Transcrire cet audio
    </button> 

    <div class="load-container" *ngIf="load">
        <div class="load">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
</div>

<div class="step step-two" *ngIf="stt.length !== 0">
    <h2>Transcription de l'audio</h2>
    
    <table>
        <tr>
            <th>Transcription</th>
            <th>API utilisée</th>
            <th>Taux de confiance</th>
            <th>Temps (secondes)</th>
            <th>Text-to-Speech</th>
        </tr>
        
        <tr *ngFor="let res of stt">
            <td>{{res.transcription}}</td>
            <td>{{res.provider}}</td>
            <td>{{res.confidence}}</td>
            <td>{{res.time}}</td>
            <td>
                <button
                    type="button" 
                    *ngIf="res.transcription !== undefined && res.transcription.length !== 0 "
                    (click)="generateAudio(res.transcription)"
                    class="cta secondary-cta"
                    >
                    Générer le Text-to-Speech
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="step step-three" *ngIf="transcription">
    <h2>Ecouter la transcription</h2>
    <p>{{transcription}}</p>
    <audio #outputAudioPlayer controls src="./"></audio>
</div>
