<h2>Voice cloning</h2>

<p>
    Cette partie est une des pièces manquantes de notre application, elle n'a pas encore pu être implémentée entièrement. <br/>
    Cependant, nous avons un début d'implémentation et de tests que vous pourrez trouver 
    <a href="https://deepnote.com/project/Voice-Over-APIs-NVpBIT5JSUGiLtW6QipP6g/%2FVoiceClone%2Fnotebook.ipynb">ici</a>
</p>

<h3>Tests fonctionnels</h3>

<p>Nous avons pris le texte suivant pour le cloning de la voix : </p>
<q>In 1996, Microsoft engineers introduced the iframe tag in IE4. This allowed the browser to asynchronously exchange data with the same or a totally different server without a page refresh.</q>

<ol>
    <li>Voix clonée de James, issue de l'API d'IBM</li>
    <audio src="assets/audios/voice_cloning_1.wav" controls></audio>
    <li>Voix clonée de Tina Huang, youtubeuse et data scientist à FAANG company</li>
    <audio src="assets/audios/voice_cloning_3.wav" controls></audio>
</ol>

<h3>Tests (beaucoup) moins fonctionnels</h3>
<p class="details">Attention, fou rire garanti ! </p>
<ol>
    <li>Voix clonée d'Emma Watson, actrice britannique </li>
    <audio src="assets/audios/voice_cloning_fail.wav" controls></audio>
</ol>

<a href="/" class="cta main-cta">Revenir à l'accueil</a>