<h2>Entrer le lien d’une vidéo YouTube</h2>

<form id="youtubeForm">
    <input class="input-youtube" type="text" placeholder="Entrez une URL YouTube" nmae="url">
</form>

<div class="container">
    <iframe 
        src="https://www.youtube.com/embed/q4B_eUR-NA8" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen 
        class="video">
    </iframe>
</div>

<button form="youtubeForm" routerLink="/transcription" class="cta main-cta">Retranscrire cette vidéo</button>
