h1{
    font-family: var(--family-header);
    font-size: var(--size-header-1);
    line-height: var(--line-height-header);

    color: var(--light-grey);
}

p{
    font-family: var(--family-body);

    line-height: var(--line-height-body);

    color: var(--light-grey); 
}