@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@500;700&display=swap');

:host{
    /* Color palette */
    --black :     #0a0a0a; 
    --dark-blue:  #022030; 
    --light-blue: #3f7893; 
    --dark-red:   #9c1634; 
    --light-grey: #dfe7ec; 

    /* Font style */
    --family-header: 'Roboto Mono', monospace;
    --family-body: 'Inter', sans-serif; 

    --size-header-1: 4em; 
    --size-header-2: 3em; 
    --size-header-3: 2em; 
    --size-header-4: 1.5em; 

    --line-height-header: 140%; 
    --line-height-body: 160%; 

}

h1{
    font-family: var(--family-header);
    font-size: var(--size-header-1);
    line-height: var(--line-height-header);

    color: var(--dark-red);
}

p{
    font-family: var(--family-body);

    line-height: var(--line-height-body);
}