<h2>Choisir un fichier audio depuis mon appareil</h2>
<p>Les fichiers acceptés sont des audios sous format WAV uniquement. </p>

<div class="input-file">
    <label for="audio" class="custom-file-upload">
        {{name}}
    </label>
    <input 
        #inputAudio 
        type="file" 
        name="audio" 
        id="audio"
        placeholder="Select audio file" 
        (change)="getName($event)"
        accept=".wav">
    
</div>


<button type="button" (click)="callApiSTT(inputAudio.files)">Call API STT</button>
<button type="button" (click)="callApiSTTAll(inputAudio.files)">Call API STT All</button> 


