<h2>Choisir un fichier audio depuis mon appareil</h2>
<p>Les fichiers acceptés sont des audios sous format WAV uniquement. </p>

<div class="input-file">
    <label for="audio" class="custom-file-upload">
        {{name}}
    </label>
    <input 
        #inputAudio 
        type="file" 
        name="audio" 
        id="audio"
        placeholder="Select audio file" 
        (change)="getName($event)"
        accept=".wav">
    
</div>

<div *ngIf="name.includes('.wav')">
    <button 
        class="cta main-cta"
        type="button" 
        (click)="callApiSTTAll(inputAudio.files)">
        Transcrire cet audio
    </button> 
</div>

<div *ngIf="transcription">
    <h2>Transcription de l'audio</h2>
    <p>{{transcription}}</p>
</div>