<div class="flex-row col-2-content">
    <div>
        <h2>Transcription</h2>
        
        <p>
            Et quis consequat anim labore ut in. Quis nisi excepteur sunt laborum officia consequat tempor cupidatat tempor sunt consectetur fugiat sunt. Officia ullamco dolor proident magna aute officia. Cupidatat esse eu elit voluptate. Aute pariatur labore laborum est occaecat amet.
            Labore elit eu nostrud aute ex ullamco. Ea nisi laboris magna aute consectetur dolore amet irure pariatur do aute ad ad voluptate. Duis elit laborum exercitation excepteur laboris deserunt ullamco nulla occaecat elit excepteur. Ea non officia officia et non. Fugiat esse magna enim ad proident.
            Enim occaecat ipsum laboris nisi est aliquip. Sint aliqua laboris ullamco labore minim minim. Laborum anim proident cillum proident incididunt enim aliqua pariatur reprehenderit.
            Aute veniam eu excepteur aliquip amet labore aliqua mollit sit non aliquip. Do ut fugiat voluptate ea proident id. Tempor laborum pariatur laboris ex consequat nostrud aute cupidatat aliquip cupidatat laboris ea. Ut dolor magna eiusmod sint quis consequat et ullamco adipisicing ut ad enim. Deserunt ipsum esse reprehenderit eiusmod ea proident ex.
            Non eu nulla Lorem elit amet reprehenderit sit eiusmod voluptate. Fugiat sit et mollit cupidatat voluptate aliqua non. Esse anim duis ad veniam ipsum dolore ut duis fugiat. Aliqua esse aliquip cillum consequat proident aliqua ipsum. Nostrud minim ullamco adipisicing velit aliquip occaecat Lorem aliquip eu id. Dolor sunt aliqua veniam fugiat culpa voluptate veniam ipsum ex commodo excepteur.
        </p>
        
        <p>
            Et quis consequat anim labore ut in. Quis nisi excepteur sunt laborum officia consequat tempor cupidatat tempor sunt consectetur fugiat sunt. Officia ullamco dolor proident magna aute officia. Cupidatat esse eu elit voluptate. Aute pariatur labore laborum est occaecat amet.
            Labore elit eu nostrud aute ex ullamco. Ea nisi laboris magna aute consectetur dolore amet irure pariatur do aute ad ad voluptate. Duis elit laborum exercitation excepteur laboris deserunt ullamco nulla occaecat elit excepteur. Ea non officia officia et non. Fugiat esse magna enim ad proident.
            Enim occaecat ipsum laboris nisi est aliquip. Sint aliqua laboris ullamco labore minim minim. Laborum anim proident cillum proident incididunt enim aliqua pariatur reprehenderit.
            Aute veniam eu excepteur aliquip amet labore aliqua mollit sit non aliquip. Do ut fugiat voluptate ea proident id. Tempor laborum pariatur laboris ex consequat nostrud aute cupidatat aliquip cupidatat laboris ea. Ut dolor magna eiusmod sint quis consequat et ullamco adipisicing ut ad enim. Deserunt ipsum esse reprehenderit eiusmod ea proident ex.
            Non eu nulla Lorem elit amet reprehenderit sit eiusmod voluptate. Fugiat sit et mollit cupidatat voluptate aliqua non. Esse anim duis ad veniam ipsum dolore ut duis fugiat. Aliqua esse aliquip cillum consequat proident aliqua ipsum. Nostrud minim ullamco adipisicing velit aliquip occaecat Lorem aliquip eu id. Dolor sunt aliqua veniam fugiat culpa voluptate veniam ipsum ex commodo excepteur.
        </p>
    </div>

    <div>
        <h2>Traduction</h2>

        <p>
            Et quis consequat anim labore ut in. Quis nisi excepteur sunt laborum officia consequat tempor cupidatat tempor sunt consectetur fugiat sunt. Officia ullamco dolor proident magna aute officia. Cupidatat esse eu elit voluptate. Aute pariatur labore laborum est occaecat amet.
            Labore elit eu nostrud aute ex ullamco. Ea nisi laboris magna aute consectetur dolore amet irure pariatur do aute ad ad voluptate. Duis elit laborum exercitation excepteur laboris deserunt ullamco nulla occaecat elit excepteur. Ea non officia officia et non. Fugiat esse magna enim ad proident.
            Enim occaecat ipsum laboris nisi est aliquip. Sint aliqua laboris ullamco labore minim minim. Laborum anim proident cillum proident incididunt enim aliqua pariatur reprehenderit.
            Aute veniam eu excepteur aliquip amet labore aliqua mollit sit non aliquip. Do ut fugiat voluptate ea proident id. Tempor laborum pariatur laboris ex consequat nostrud aute cupidatat aliquip cupidatat laboris ea. Ut dolor magna eiusmod sint quis consequat et ullamco adipisicing ut ad enim. Deserunt ipsum esse reprehenderit eiusmod ea proident ex.
            Non eu nulla Lorem elit amet reprehenderit sit eiusmod voluptate. Fugiat sit et mollit cupidatat voluptate aliqua non. Esse anim duis ad veniam ipsum dolore ut duis fugiat. Aliqua esse aliquip cillum consequat proident aliqua ipsum. Nostrud minim ullamco adipisicing velit aliquip occaecat Lorem aliquip eu id. Dolor sunt aliqua veniam fugiat culpa voluptate veniam ipsum ex commodo excepteur.
        </p>

        <p>
            Et quis consequat anim labore ut in. Quis nisi excepteur sunt laborum officia consequat tempor cupidatat tempor sunt consectetur fugiat sunt. Officia ullamco dolor proident magna aute officia. Cupidatat esse eu elit voluptate. Aute pariatur labore laborum est occaecat amet.
            Labore elit eu nostrud aute ex ullamco. Ea nisi laboris magna aute consectetur dolore amet irure pariatur do aute ad ad voluptate. Duis elit laborum exercitation excepteur laboris deserunt ullamco nulla occaecat elit excepteur. Ea non officia officia et non. Fugiat esse magna enim ad proident.
            Enim occaecat ipsum laboris nisi est aliquip. Sint aliqua laboris ullamco labore minim minim. Laborum anim proident cillum proident incididunt enim aliqua pariatur reprehenderit.
            Aute veniam eu excepteur aliquip amet labore aliqua mollit sit non aliquip. Do ut fugiat voluptate ea proident id. Tempor laborum pariatur laboris ex consequat nostrud aute cupidatat aliquip cupidatat laboris ea. Ut dolor magna eiusmod sint quis consequat et ullamco adipisicing ut ad enim. Deserunt ipsum esse reprehenderit eiusmod ea proident ex.
            Non eu nulla Lorem elit amet reprehenderit sit eiusmod voluptate. Fugiat sit et mollit cupidatat voluptate aliqua non. Esse anim duis ad veniam ipsum dolore ut duis fugiat. Aliqua esse aliquip cillum consequat proident aliqua ipsum. Nostrud minim ullamco adipisicing velit aliquip occaecat Lorem aliquip eu id. Dolor sunt aliqua veniam fugiat culpa voluptate veniam ipsum ex commodo excepteur.
        </p>
    </div>
</div>

<a routerLink="/read" class="cta main-cta">Écouter la traduction</a>
